<% (1..9).each do |entry| %>
  <article class="entriesItem">
    <h1 class="title">RaspberryPi MinecraftPE サーバ構築</h1>
    <div class="content">
      <!-- アイキャッチ -->
      <div class="eyeCatch">
        <div class="eyeCatchInner">
          <img src="https://qiita-image-store.s3.amazonaws.com/0/42248/d56376a7-4949-d9d6-5590-9c4968ee5eba.png" alt="">
        </div>
      </div>
      <!-- 詳細 -->
      <div class="detail">
        <div class="date">2016-09-25</div>
      </div>
    </div>
  </article>
<% end %>
<%= will_paginate(
  @entries,
  :inner_window => 1,
  :outer_window => 1,
  :previous_label => '前へ',
  :next_label => '次へ')
%>
