<% @entries.each do |entry| %>
  <article class="entriesItem">
    <h1 class="title"><a href="/diary/<%= entry.id %>">RaspberryPi MinecraftPE サーバ構築</a></h1>
    <!-- 詳細 -->
    <ul class="detail">
      <li class="item date"><%= entry.created_at %></li>
      <li class="item author">sawa-zen</li>
    </ul>
    <div class="content">
      <!-- アイキャッチ -->
      <div class="eyeCatch">
        <div class="eyeCatchInner">
          <img src="https://qiita-image-store.s3.amazonaws.com/0/42248/d56376a7-4949-d9d6-5590-9c4968ee5eba.png" alt="">
        </div>
      </div>
      <!-- ヘッドライン -->
      <div class="headline">
        最近 MinecraftPE も アップデートでかなりPC版に近づいてきたので RaspberryPi でサーバを建ててみました。少し躓いたのでまとめておきます。最近 MinecraftPE も アップデートでかなりPC版に近づいてきたので...
      </div>
    </div>
  </article>
<% end %>
<%= will_paginate(
  @entries,
  :inner_window => 1,
  :outer_window => 1,
  :previous_label => '前へ',
  :next_label => '次へ')
%>
