<div id="profile">
  <h3>YAREKASU BLOGとは</h3>
  <p>
    <span class="detail">
      Topotalメンバーで運営している技術ブログ？です。「うだうだ言ってねぇでいいからやれカス。」と言われながらインフラからフロントエンドまで様々な分野のノウハウをアウトプットさせられてます。
    </span>
  </p>
</div>

<a class="twitter-timeline" data-lang="ja" data-height="600" data-theme="light" href="https://twitter.com/Topotal">Tweets by Topotal</a> <script async src="//platform.twitter.com/widgets.js" charset="utf-8"></script>
