<div id="profile">
  <h3>この記事を書いた人</h3>
  <p>
    <span class="icon">
      <img src="https://pbs.twimg.com/profile_images/639689793119453184/aAyiXJuc.jpg" width="80" height="80">
    </span>
    <strong class="name">澤田 嵩善</strong>
    <span class="detail">
      さわだ たかよし / ICS.inc / Topotal / 名古屋市立大学デザイン情報学部卒 モノづくりをする事が楽しく、Web制作、電子工作、デザイン、映像などいろいろとやって来ました。皆さんと情報交換ができたらと思います！
    </span>
  </p>
</div>

<script type="text/javascript">
  amazon_ad_tag = "sawazen-22";
  amazon_ad_width = "300";
  amazon_ad_height = "250";
  amazon_ad_link_target = "new";
</script>
<script type="text/javascript" src="http://ir-jp.amazon-adsystem.com/s/ads.js"></script>
