<div id="profile">
  <h3>この記事を書いた人</h3>
  <p>
    <span class="icon">
      <img src="<%= @entry.user.user_profile.image_url %>" width="80" height="80">
    </span>
    <strong class="name"><%= @entry.user.user_profile.screen_name %></strong>
    <span class="detail">
      <%= @entry.user.user_profile.description %>
    </span>
  </p>
</div>

<script type="text/javascript">
  amazon_ad_tag = "sawazen-22";
  amazon_ad_width = "300";
  amazon_ad_height = "250";
  amazon_ad_link_target = "new";
</script>
<script type="text/javascript" src="//ir-jp.amazon-adsystem.com/s/ads.js"></script>
