<footer>
  <ul class="sns">
    <li><a href="https://github.com/topotal"><img src="/assets/img/icon_git.png" alt="github" width="45" height="45"></a></li>
    <li><a href="https://twitter.com/Topotal"><img src="/assets/img/icon_twitter.png" alt="twitter" width="45" height="45"></a></li>
    <li><a href="https://www.facebook.com/topotal"><img src="/assets/img/icon_facebook.png" alt="facebook" width="45" height="45"></a></li>
  </ul>
  <small>Copyright © topotal.com All Rights Reserved.</small>
</footer>
