<header id="header">
  <h1>
    <picture>
    <source media="(max-width:820px)" srcset="/assets/img/h1_title_small.png 100w" sizes="189px">
      <img src="/assets/img/h1_title.png" width="551">
    </picture>
  </h1>
</header>
