<header id="header">
  <h1>
    <!-- <picture> -->
    <!--   <source sizes="80vw" srcset="/assets/img/h1_title_small.png"> -->
    <!--   <img src="/assets/img/h1_title.png" alt="ALTテキストはちゃんと記述しましょう"> -->
    <!-- </picture> -->
    <picture>
    <source media="(max-width:800px)" srcset="/assets/img/h1_title_small.png 100w" sizes="189px">
      <img src="/assets/img/h1_title.png" width="551">
    </picture>
  </h1>
</header>
