@import "module/const";
@import "module/layout";
@import "module/aside";
@import "module/nav";
@import "module/articles";
@import "module/footer";

#header {
  height: 350px;
  position: relative;
  color: #FFF;
  text-align: center;

  img {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    margin: auto;
  }
}
