@import "module/const";

.entryContent {
  color: $BLACK;
  word-wrap: break-word;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Helvetica Neue", "Hiragino Kaku Gothic ProN", "メイリオ", meiryo, sans-serif;
  line-height: 1.875;
  font-size: 1em;

  // タイトル1
  h1 {
    font-size: 1.9em;
    font-weight: normal;
    border-bottom: 3px solid #CCC;
    margin-top: 2.5em;
  }

  // タイトル2
  h2 {
    font-size: 1.5em;
    font-weight: normal;
    border-bottom: 2px solid #CCC;
    margin-top: 2.5em;
  }

  // タイトル3
  h3 {
    font-size: 1.2em;
    font-weight: normal;
    margin-top: 3em;
  }

  a {
    color: $BLUE;
  }

  img {
    width: 100%;
  }

  pre {
    font-size: .8em;
    code {
      white-space: pre;
      word-wrap: normal;
      padding: .6em 1.2em;
      font-family: Consolas, "Liberation Mono", Menlo, Courier, monospace;
      line-height: 1.5;
    }
  }

  table {
    display: block;
    width: 100%;
    overflow: auto;
    word-break: normal;
    word-break: keep-all;

    th {
      font-weight: bold;
    }

    th,
    td {
      padding: 6px 13px;
      border: 1px solid #ddd;
    }

    tr {
      background-color: #fff;
      border-top: 1px solid #ccc;
    }

    tr:nth-child(2n) {
      background-color: #f8f8f8;
    }
  }

  p {
    margin: 1.4em 0;
    code {
      display: inline;
      padding: 2px;
      font-size: 0.8em;
      background-color: transparent;
      border: 1px solid #CCC;
      border-radius: 3px;
      margin: 0 5px;
    }
  }
}

@media screen and (max-width: $CONTENT_WIDTH - 300px) {
  .content {
    font-size: 0.8em;

    // タイトル1
    h1 {
      font-size: 1.5em;
      font-weight: normal;
      border-bottom: 3px solid #CCC;
      margin-top: 2.5em;
    }

    // タイトル2
    h2 {
      font-size: 1.3em;
      font-weight: normal;
      border-bottom: 2px solid #CCC;
      margin-top: 1.3em;
    }

    a {
    }

    img {
    }

    pre {
    }

    table {
      th {
      }
      th,
      td {
      }
      tr {
      }
      tr:nth-child(2n) {
      }
    }
  }
}
