aside {

  #profile {
    text-align: center;
    margin-bottom: 20px;
    padding: 20px;
    width: 300px;
    box-sizing: border-box;
    background-color: #EEE;

    h3 {
      margin: 0 0 15px;
      color: #888;
      font-size: 0.9em;
    }

    p {
      margin: 0;

      img {
        margin: 0 auto 10px;
        display: block;
        border-radius: 40px;
      }

      span, strong {
        display: block;
      }

      .name {
        margin: 0 0 10px;
      }

      .detail {
        font-size: 0.7em;
      }
    }
  }

  .fb-page {
    width: 300px;
  }
}

@media screen and (max-width: $CONTENT_WIDTH - 300px) {
  aside {
    #profile {
      width: 100%;
      margin-bottom: 0;
      p {
        .name {
          margin: 0 0 10px;
        }
      }
    }

    iframe {
      display: none;
    }
  }

  .fb-page {
    display: none;
  }
}
