footer {
  padding: $MARGIN;
  color: #FFF;
  background-color: $BLACK;
  text-align: center;

  .sns {
    list-style: none;
    padding: 0;
    margin: 0 0 $MARGIN;

    li {
      display: inline-block;
      margin-right: $MARGIN;

      &:last-child {
        margin: 0;
      }
    }
  }

  small {
    display: block;
  }
}
