#header {
  height: 450px;
  position: relative;
  color: #FFF;
  text-align: center;
  background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(rgb(76, 192, 239)), to(rgb(0, 139, 209)));
  overflow: hidden;

  h1 {
    position: absolute;
    margin: auto;
    padding: 0;
    top: 133px;
    left: 0;
    right: 0;
    display: block;
  }
}

@media screen and (max-width: $CONTENT_WIDTH - 300px) {
  #header {
    height: 130px;
    h1 {
      top: 0;
      img {
        width: 300px;
        height: auto;
      }
    }
  }
}
