#header {
  height: 450px;
  position: relative;
  color: #FFF;
  text-align: center;
  background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(rgb(76, 192, 239)), to(rgb(0, 139, 209)));

  h1 {
    position: absolute;
    margin: auto;
    padding: 0;
    top: 133px;
    left: 0;
    right: 0;
    display: block;
    width: 551px;
    height: 160px;
  }
}
