<link href="/css/dialy.css" rel="stylesheet">
<%= erb :"module/_nav" %>
<div id="wrapper">
  <div id="content">
    <div id="contentInner">
      <div id="mainContent">
        <%= erb :"module/_article" %>
      </div>
    </div>
    <aside id="aside">
      <%= erb :"module/_aside" %>
    </aside>
  </div>
</div>
<%= erb :"module/_footer" %>
