<link href="/css/index.css" rel="stylesheet">
<%= erb :"module/_nav" %>
<div id="wrapper">
  <%= erb :"module/_header" %>
  <div id="content">
    <div id="main">
      <%= erb :"module/_entries" %>
    </div>
  </div>
</div>
<%= erb :"module/_footer" %>
