<link href="/css/index.css" rel="stylesheet">
<%= erb :"module/_nav" %>
<div id="wrapper">
  <header id="header">
    <img src="/img/h1_icon.png" width="347" height="113">
  </header>
  <div id="content">
    <div id="contentInner">
      <div id="mainContent">
        <%= erb :"module/_articles" %>
      </div>
    </div>
    <aside id="aside">
      <%= erb :"module/_aside" %>
    </aside>
  </div>
</div>
<%= erb :"module/_footer" %>
