<link href="/css/index.css" rel="stylesheet">
<div id="wrapper">
  <div id="content">
    <form action="/v1/image" method="post" enctype="multipart/form-data">
      <p><input type="file" name="file"></p>
      <p><input type="submit" value="送信" /></p>
    </form>
  </div>
</div>
